* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    font-weight: 800;
}

header {
    grid-area: header;
    text-align: center;
    margin: 50px;
    padding: 15px;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 0.25fr 0.5fr 0.5fr;
    grid-template-areas: "header header header header"
    "past search search search"
    "past results results results"
    "past future future future";
}

.input {
    text-align: center;
    margin: 50px 0 15px 0;
    padding: 10px;
}    

input[type="text"] {
    height: 50px;
    width: 400px;
    background: #e7e7e7;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border: none;
    border-radius: 3px;
    padding: 10px 10px;
}

input[type="submit"] {
    height: 50px;
    width: 100px;
    background: #777777;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #ffffff;
    border: none;
    border-radius: 3px;
    
}

.display {
    text-align: center;
    border: solid black;
}

.hide {
    display: none;
}

#search {
    grid-area: search;
    text-align: center;
    margin: 5px;
    padding: 5px;
}

#results {
    grid-area: results;
    text-align: center;
    font-size: larger;
    font-weight: 800;
    border: solid black;
    margin: 5px;
    padding: 5px;
}

#future {
    grid-area: future;
    text-align: center;
    border: solid black;
    margin: 5px;
    padding: 5px;
}

.futureForecast {
    display: inline-block;
    padding: 5px;
    margin: 10px;
    background: #575757;
    color: #ffffff;
    border-radius: 5px;
}

#past {
    display: flex;
    flex-direction: column;
    grid-area: past;
    text-align: center;
    align-items: center;
    border: solid black;
    margin: 5px;
    padding: 5px;
}

.btn { 
    height: 50px;
    width: 200px;
    background: #777777;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #ffffff;
    border: none;
    border-radius: 3px;
}

.btn-layout {
    
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 10px 0;
}

@media only screen and (max-width:600px) {
    .container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr 0.3fr 1.5fr 1.5fr 1.5fr;
    grid-template-areas:
    "header"
    "search"
    "results"
    "future"
    "past";
    }
}